li {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(231, 221, 221);;
    padding-bottom: 10px;
}

.product-info {
    flex: 1;
}

.control-wrapper .quantityControls span {
    margin-right: 10px;
}

.control-wrapper .quantityControls button {
    margin-left: 10px;
}

.total-info {
    margin-top: 20px;
}

