#root {
  margin: 0 auto;
  text-align: center;
}

.search-input {
  margin: 30px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  transition: border 0.3s ease;

  &:hover {
    border: 1px solid #555;
  }

  &:focus {
    border: 2px solid #797b7c;
    outline: none;
    box-shadow: 0 0 5px rgba(184, 184, 185, 0.5);
  }
      
}

.flex-card {
  margin: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 1rem;
  background: rgb(231, 221, 221);
  width: calc(33.33% - 10px);
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  img {
    width: 100px;
    height: 100px;
    text-align: center;
  }

  a:hover {
    color: #e4e4e7;
  }
}

h1 {
  color: black;
  text-align: left;
  padding: 1em;
}

.btn-card {
  text-align: center;
}

@media (min-width: 808px) {
  .card {
    width: calc(33.33% - 10px);
  }
}

@media (min-width: 992px) {
  .card {
    width: calc(25% - 4px);
  }
}

@media (max-width: 767px) {
  .flex-card {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 70%;
  }
}