:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #666768;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  border-color: #9b9b9e;
}
button:focus,
button:focus-visible {
  outline: 4px auto;
} 

main {
  min-height: 80vh;
}
