:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #797a7b;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;

    &:hover {
        border: 1px solid #6d6868;
      }
    
      &:focus {
        border: 2px solid #b1b2b3;
        outline: none;
        box-shadow: 0 0 5px rgba(204, 204, 213, 0.5);
      }
}

main {
  min-height: 80vh;
}
